<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blk_piece_cannon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{0,0},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blk_piece_general.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{365,0},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blk_piece_guard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{730,0},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blk_piece_minister.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{1095,0},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blk_piece_rook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{1460,0},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blk_piece_soldier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{0,365},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blk_piece_sowar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{365,365},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_piece_cannon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{730,365},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_piece_general.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{1095,365},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_piece_guard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{1460,365},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_piece_minister.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{0,730},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_piece_rook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{365,730},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_piece_soldier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{730,730},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_piece_sowar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{1095,730},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pieces.png</string>
            <key>size</key>
            <string>{1825,1095}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f23e5c25b0cdb216bd2051b0528cb635:8bd8d869234047cd2bdcad4e0d67bb43:148dced748614eca4b0a98db57f8c0bb$</string>
            <key>textureFileName</key>
            <string>pieces.png</string>
        </dict>
    </dict>
</plist>
